<div id="gridSystemModal<%= food_item.id %>" class="modal" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel"><%= food_item.name %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="col-md-8"><%= image_tag(food_item.image_url_or_default) %></div>
            <div class="col-md-4">
              <%= food_item.description %>
              </br>
              <b><%= number_to_currency(food_item.price) %></b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>